<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="PartnerToken" value="" />
		<add key="CelsiusApiKey" value="" />
		<add key="CoinMarketCapApi" value="" />
		<add key="SpreadSheetId" value="" />
		<add key="QuoteCurrency" value="USD" />
	</appSettings>
</configuration>